html,
body,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
    padding: 0;
    margin: 0;
}


p {
    text-align: left;
    font-size: 3pt;
    padding-right: 4px;
    padding-top: 2px;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 8px;
    padding-top: 6px;
    margin-left: 1.4em;
    list-style: square;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

#photoSection {
    position: relative;

    left: calc(50% - 400px);
    top: 50px;
    
    width: 800px;
    height: 600px;
}

video {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 600px;
}

